
__pycache__/nhat_tao.cpython-38.pyc
__pycache__/crawl.cpython-38.pyc
.idea/vcs.xml
.idea/muabannet-crawler.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/dictionaries/nguye.xml
__pycache__/parse.cpython-38.pyc
__pycache__/nhat_tao_crawler.cpython-38.pyc
__pycache__/nhat_tao.cpython-38.pyc
__pycache__/nhat_tao.cpython-38.pyc
__pycache__/nhat_tao.cpython-38.pyc
__pycache__/crawl.cpython-38.pyc
